*{
    box-sizing: border-box;
    overflow-x: hidden;
}
.center{
    display:flex;
    align-items: center;
    justify-content: center;
}
::-webkit-scrollbar{
    display: none;
}
/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
 @-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

  
.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s ease-in-out 1s reverse both;
          animation: text-pop-up-top 0.5s ease-in-out 1s reverse both;
  font-size: 50px;
  font-weight: bolder;
}
header{
    border-bottom: 1px solid lightgray;
    background-color: #ffffff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.navbar-brand img {
    height: 50px; 
    width: 100%; 
}

.navbar-toggler {
    margin-left: auto; 
}
.mainBanner{
    animation-name:lightSpeedInRight;
    animation-duration: 3s;
    animation-iteration-count:1;
    border-radius: 10px;
    height: 300px;
}
.premium-cars img{
    object-fit:cover;
    height: 250px;
}
/* ===============================================================About========================================================================= */
.about-page img{
    border-radius: 10px;
    width: 100%;
    height: 80%;
    box-shadow: 1px 1px 20px lightgray;
}
.about-page{
    font-size: 20px;
}
.about-page h2{
    text-decoration: underline #0d6efd;
    text-underline-offset: 5px;
    margin-bottom: 30px;
}
/* ==========================================================Services=========================================================================== */
.services h4{
    background-color: #0d6efd;
    color: white;
}
.services .card p{
    background-color: #b9e0ff;
    color: black;
}
/* =========================================================Cars================================================================================ */
.cars h4{
    background-color: #0d6efd;
    color: white;
}
.cars figure{
  border-radius: 10px;
}
.cars figure img{
  height: 200px;
}
.CarDetails h4{
  color: #0d6efd;
}
/* =========================================================Contact============================================================================== */

.contact-page .row div{
    background: rgba(255, 255, 255, 0.9); 
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(230, 230, 255, 0.8)); 
    backdrop-filter: blur(12px); 
    -webkit-backdrop-filter: blur(12px); 
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.4); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
    
} 
.contact-page h2 {
    text-align: center;
  }
form label {
  display: block;
  margin: 10px 0 5px;
  color: #333;
}
form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
form button:hover {
  background-color: #0056b3;
}
.view-cars-page tr,th,td{
  width: 10%;
}
.dashboard aside{
  border-right:1px solid black;
}
.dashboard h4{
  cursor: pointer;
}
.dashboard aside button{
  width: 80%;
  height: 50px;
  border:0;
  margin-bottom: 15px;
  background-color: #0b5ed7;
  color: white;
  border-radius: 5px;
}
.view-service-page,.view-cars-page,.view-customers-page{
  overflow-x: auto;
}
.view-cars h4{
  background-color: #0d6efd;
  color: white;
}
.view-cars figure{
border-radius: 10px;
}
.view-cars figure img{
height: 200px;
}
.view-cars .card{
  height: 500px;
}
